<html>
    <head>
        <meta charset="utf-8">
        <title>게시글</title>
    </head>
    <body>
        <h2>게시글 리스트</h2>
        <table border='1'>
            <colgroup>
                <col width='60'><col width='100'><col width='250'>
            </colgroup>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>이름</th>
                    <th>설명</th>
                    <th>고유번호</th>
                </tr>
            </thead>
            <tbody>
                <% for(i = 0; i < list.length; i++) { %>
                <tr>
                    <td><%=i+1 %></td>
         <td><a href="/read/<%=list[i].name%>"><%=list[i].name%></a></td>
                    <td><%=list[i].dis %></td>
                    <td><%=list[i].number %></td>
                </tr>
                <% } %>
            </tbody>
        </table boader='1'>

        <button onclick="location.href='../write'">글쓰기</button>
    </body>
</html>